body {
background-color: #90EE90;
text-align: left;
color: white;
}
img{
align:middle;
width: 500px;
height: 500px;
}
table, th, td {
color: black;
background-color: white;
}

input[type="text"] {
color: black;
}

input[type="password"] {
color: black;
}

input[type="number"] {
color: black;
}

input[type="date"] {
color: black;
}