<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>User Directory</title>
</head>

<body>

<div class="container">

	<h3>Add users</h3>

	<table class="table table-bordered table-striped">
		<form action="#" th:action="@{/users/addusers/}" th:object="${users}" method="post">

			<input type="text" th:field="*{userName}" placeholder="username">

			<input type="text" th:field="*{password}" placeholder="password">

			<input type="text" th:field="*{email}" placeholder="email">

			<input type="text" th:field="*{firstName}" placeholder="firstname">

			<input type="text" th:field="*{lastName}" placeholder="lastname">

			<input type="text" th:field="*{bankAccount}" placeholder="bankaccount">

			<input type="text" th:field="*{phone}" placeholder="phone">

			<input type="text" th:field="*{city}" placeholder="city">

			<button type="submit" class="btn btn-success">Register</button>
		</form>
			</tr>
		</tbody>
	</table>

</div>

</body>
</html>
