<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>voucher Directory</title>
</head>

<body>

<div class="container">

	<h3>Add voucher</h3>

	<table class="table table-bordered table-striped">
		<form action="#" th:action="@{addvouchers}" th:object="${voucher}" method="post">

			<input type="text" th:field="*{textm}" placeholder="user<">

			<input type="text" th:field="*{user.id}" placeholder="user">

			<input type="submit" value="add voucher">
		</form>
		</tr>
		</tbody>
	</table>

</div>

</body>
</html>
