<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>User Directory</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
</head>

<body>

<div class="container">

	<h3>User Directory</h3>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Battery</th>
				<th>isAvailable</th>
				<th>Address</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="tempCar : ${carslist}">

				<td th:text="${tempCar.id}"></td>
				<td th:text="${tempCar.brand}"></td>
				<td th:text="${tempCar.model}"></td>
				<td th:text="${tempCar.battery}"></td>
				<td th:text="${tempCar.available}"></td>
				<td th:text="${tempCar.address}"></td>


			</tr>
		</tbody>
	</table>
	<a href="/trips/addtripsform">create a new trip</a>

</div>

</body>
</html>
