<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
	  xmlns:form="http://www.w3.org/1999/xhtml">
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />

</head>
<body>

<div th:fragment="footer">
<div class="container">

<h2>Home Page</h2>

<h3>
	Logged user: <span sec:authentication="name"></span> |
	Roles: <span sec:authentication="principal.authorities"></span> |
	<a th:href="@{/logout}">Sign Out</a>
</h3>

<div sec:authorize="isAuthenticated()">
	Authenticated users.
</div>
<div sec:authorize="hasAuthority('boss')">
	<a href="/users/findallusers">view all users</a><br>
	<a href="/cars/findallcars">view all cars</a><br>
	<a href="/cars/addcarsform">add a new car</a><br>
	<a href="/voucher/findallvouchers">view all vouchers</a><br>
	<a href="/voucher/addvouchersform">add a new voucher</a><br>
</div>
<div sec:authorize="hasAuthority('client')">
	<a href="/trips/addtripsform">create a new trip</a><br>
	<a href="/cars/findallavailablecars">view all cars</a><br>
	<a href="/voucher/findallmyvouchers">view all vouchers</a><br>
	<a href="/invoice/findalldailyinvoices">view all daily invoices</a><br>
	<a href="/invoice/findallmonthlyinvoices">view all monthly invoices</a><br>

</div>
<div sec:authorize="hasAuthority('staff')">
	<a href="/users/findallusers">view all users</a><br>
	<a href="/cars/findallcars">view all cars</a><br>
	<a href="/cars/addcarsform">add a new car</a><br>
	<a href="/voucher/findallvouchers">view all vouchers</a><br>
	<a href="/voucher/addvouchersform">add a new voucher</a><br>
	<a href="/staffcars/findallstaffcars">view all repairs</a><br>
	<a href="/staffcars/addstaffcarsform">add a new repair</a><br>
	<a href="/invoice/findallinvoices">view all invoices</a><br>
</div>
</form:form>
</div>
</div>
</body>
</html>









