<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=de
    vice-width, initial-scale=1, shrink-to-fit=no">
	<title>invoice Directory</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">

	<h3>invoice Directory</h3>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>total cost</th>
				<th>firm</th>
				<th>type</th>
				<th>date</th>
				<th>User</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="tempInvoice : ${invoiceslist}">

				<td th:text="${tempInvoice.totalCost}"></td>
				<td th:text="${tempInvoice.firm}"></td>
				<td th:text="${tempInvoice.typeInvoice}"></td>
				<td th:text="${tempInvoice.dateOfInvoice}"></td>
				<td th:text="${tempInvoice.user.id}"></td>

			</tr>
		</tbody>
	</table>

</div>

</body>
</html>
