<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>User Directory</title>
</head>

<body>

<div class="container">

	<h3>User Directory</h3>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Users</th>
				<th>Cars</th>
				<th>Type repair</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="tempStaffCars : ${staffcarslist}">

				<td th:text="${tempStaffCars.user.id}"></td>
				<td th:text="${tempStaffCars.car.id}"></td>
				<td th:text="${tempStaffCars.carMain}"></td>

			</tr>
		</tbody>
	</table>

</div>

</body>
</html>
