<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>User Directory</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
</head>

<body>

<div class="container">

	<h3>Update users</h3>

	<table class="table table-bordered table-striped">
		<form action="#" th:action="@{/users/updateusers/{id}(id=${users.id})}" th:object="${users}" method="post">

			<input type="text" th:field="*{id}" placeholder="id"><br>

			<input type="text" th:field="*{userName}" placeholder="username"><br>

			<input type="text" th:field="*{password}" placeholder="password"><br>

			<input type="text" th:field="*{email}" placeholder="email"><br>

			<input type="text" th:field="*{firstName}" placeholder="firstname"><br>

			<input type="text" th:field="*{lastName}" placeholder="lastname"><br>

			<input type="text" th:field="*{bankAccount}" placeholder="bankaccount"><br>

			<input type="text" th:field="*{phone}" placeholder="phone">

			<input type="text" th:field="*{city}" placeholder="city">


			<input type="submit" value="update user">
		</form>
			</tr>
		</tbody>
	</table>

</div>

</body>
</html>
