<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>voucher Directory</title>
</head>

<body>

<div class="container">

	<h3>Update voucher</h3>

	<table class="table table-bordered table-striped">
		<form action="#" th:action="@{/voucher/updatevouchers/}" th:object="${voucher}" method="post">

			<input type="text" th:field="*{textm}" placeholder="textmessage<">

			<input type="text" th:field="*{user.id}" placeholder="user">

			<input type="text" th:field="*{userStaff.id}" placeholder="userstaff">

			<input type="submit" value="update voucher">
		</form>
		</tr>
		</tbody>
	</table>

</div>

</body>
</html>

