<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Repair Directory</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
</head>

<body>

<div class="container">

	<h3>Add repairs</h3>

	<table class="table table-bordered table-striped">
		<form action="#" th:action="@{/invoice/addinvoices/}" th:object="${invoice}" method="post">

			<input type="text" th:field="*{user.id}" placeholder="username">

			<input type="text" th:field="*{car.id}" placeholder="password">

			<input type="text" th:field="*{carMain}" placeholder="email">

			<input type="submit" value="update repair">
		</form>
		</tr>
		</tbody>
	</table>

</div>

</body>
</html>
